@import "./fonts.scss", "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Helvetica-now-text", Inter, sans-serif;
  --text-color: #111111;
  --gray-color: #f5f5f5;
  font-family: var(--main-font);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 48px;
  margin: 0 auto;

  @media (max-width: 960px) {
    padding: 0 24px;
  }
}
